*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f6f9;
}

.adminlogin-container{
    width:400px;
    background:white;
    margin:80px auto;
    padding:30px;
    border-radius:10px;
    box-shadow:0 0 10px lightgray;
}

.adminlogin-container h1{
    text-align:center;
    font-size:20px;
    margin-bottom:16px;
    color:#1f2937;
}

.form-group{
    margin-bottom:20px;
}

.form-group label{
    display:block;
    margin-bottom:8px;
    font-weight:bold;
    color:#333;
}

.form-group input{
    width:100%;
    padding:12px;
    border:1px solid #ccc;
    border-radius:5px;
    font-size:15px;
    outline:none;
}

.form-group input:focus{
    border:2px solid #43637E;
}

button{
    width:100%;
    padding:12px;
    background:#43637E;
    color:white;
    border:none;
    border-radius:5px;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#39546B;
}

.adminlogin-container p{
    text-align:center;
    margin-top:20px;
    color:#555;
}

.adminlogin-container a{
    color:#43637E;
    text-decoration:none;
    font-weight:bold;
}

.adminlogin-container a:hover{
    text-decoration:underline;
}