*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f6f9;
}

.dashboard{
    display:flex;
    min-height:100vh;
}

/* Sidebar */

.sidebar{
    width:220px;
    background:#43637E;
    color:white;
    padding:20px;
}

.sidebar h2{
    text-align:center;
    margin-bottom:40px;
}

.sidebar ul{
    list-style:none;
}

.sidebar ul li{
    padding:15px;
    margin-bottom:10px;
    border-radius:5px;
    cursor:pointer;
}

.sidebar ul li:hover{
    background:#39546B;
}

/* Main */

.main{
    flex:1;
    padding:30px;
}

/* Leave Form */

.leave-box{
    width:550px;
    margin:auto;
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0px 0px 10px lightgray;
}

.leave-box h2{
    text-align:center;
    color: #1e293b;
    margin-bottom:25px;
}

.leave-box label{
    display:block;
    margin-top:15px;
    margin-bottom:5px;
    font-size: medium;
}

.leave-box input,
.leave-box select,
.leave-box textarea{
    width:100%;
    padding:10px;
    border:1px solid #ccc;
    border-radius:5px;
    outline:none;
    font-size:15px;
}

.leave-box input:focus,
.leave-box select:focus,
.leave-box textarea:focus{
    border:1px solid #43637E;
}

.leave-box textarea{
    resize:none;
}

.leave-box button{
    width:100%;
    margin-top:25px;
    padding:12px;
    background:#43637E;
    color:white;
    border:none;
    border-radius:5px;
    font-size:16px;
    cursor:pointer;
}

.leave-box button:hover{
    background:#39546B;
}